@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}
header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: "Playfair Display", serif;
  background: url("img/d7e501693b09091145d1f69f37bd1da2.jpg") center center /
    cover no-repeat;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: rgb(0, 0, 0);
}

header p {
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: black;
}

section {
  padding: 60px 20px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.details p {
  padding-top: 2rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.calendar {
  position: relative; /* ← deze regel is belangrijk */
  margin-top: 30px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.calendar img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.heart {
  max-width: 40px;
  height: auto;
  position: absolute;
  top: 69%; /* Pas deze waarde aan tot het hartje precies op 23 oktober staat */
  left: 50%; /* Deze ook */
  transform: translate(-50%, -50%);
}
.icon {
  width: 16px; /* formaat icoon */
  height: 16px;
  vertical-align: middle;
  margin-right: 6px; /* ruimte tussen icoon en tekst */
}
.icondate {
  width: 27px; /* formaat icoon */
  height: 27px;
  vertical-align: middle;
  margin-right: 6px; /* ruimte tussen icoon en tekst */
}
#playMusic {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: 35px;
  height: 35px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

#playMusic:hover {
  background-color: rgb(109, 109, 109);
}
a {
  text-decoration: none;
  color: black;
}
footer {
  text-align: center;
  padding: 30px;
  font-size: 0.9rem;
  color: #aaa;
}
